.navbarCollapse.show {
  position: absolute;
  top: 56px; /* adjust this value based on the height of your navbar */
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 16px;
  background-color: var(--bs-light);
}
